{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}USER REQUESTS{% endblock %}</h1>


{% endblock %}

{% block content %}
  {% for entry in ep5 %}
  
  
    <article class="post">
          <header>
          <div>
  
          <h1>{{ entry[6] }}</h1>
          <h1>{{ entry[20] }}</h1>
          <div class = "about"> | {{ entry[4]}} | {{ entry[5]}}| {{ entry[8]}}| {{ entry[9]}}| {{ entry[10]}} | {{ entry[11]}}</div>
        </div>
        <img src={{ entry[7] }} alt="Request of user" width="300" height="300">
      
      </header>
    {% if not loop.last %}
    </article>
        {% if not loop.last %}
      <hr>
    {% endif %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}