<!doctype html>
<title>{% block title %}{% endblock %} - RODI - Milano Road Network Monitor</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="/index">RODI - Milano Road Network Monitor</a></h1>

   {% if (ad==1) %}
      Welcome {{ g.user[1] }}!
      <ul>
      <li><a href="/logout">Log Out</a></li>
      <li><a href="/dash">Dashboard</a>

      </ul>
    {% elif (ad==2) %}
      Welcome {{ g.user[1] }}!
      <ul>
      <li><a href="/logout">Log Out</a></li>
      <li><a href="/dash">Dashboard</a>
      <li><a href="/admin-register">Special registration</a>

      </ul>
    {% elif (g.user) and (ad==0) %}
      Welcome {{ g.user[1] }}!
      <ul>
      <li><a href="/logout">Log Out</a></li>
      <li><a href="/map">Map</a>

      </ul>
    {% else %}
  <ul>      
      <li><a href="/register">Register</a>
      <li><a href="/login">Log In</a>
      <li><a href="/admin-request">Specialized user request</a>
      <li><a href="/map">Map</a>

    {% endif %}
  </ul>
</nav>
      <hr>
<section class = "content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class = "flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>