{% extends "map.html" %}
{% block title %} RODI - Milano Road Network Monitor {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block body %}
    {% include "tmp/map_analytics.html" %}
    {% include "tmp/status_requests.html" %}   
    {% include "tmp/req_day_plot.html" %}
    {% include "tmp/user_req_plot.html" %}
    {% include "tmp/scatter_clustering.html" %}
    {% include "tmp/bar_size.html" %}
    {% include "tmp/bar_kind_of_distr.html" %}
    {% include "tmp/bar_risk.html" %}
    {% include "tmp/bar_material.html" %}
{% endblock %}