<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
      <th>14</th>
      <th>15</th>
      <th>16</th>
      <th>17</th>
      <th>18</th>
      <th>19</th>
      <th>20</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>b5df397d-1b05-41e3-9a27-7f7b59006232</td>
      <td>2021-05-21T11:23:32.699Z</td>
      <td>2021-05-21T11:23:47.000Z</td>
      <td>b5df397d-1b05-41e3-9a27-7f7b59006232</td>
      <td>13:22:25</td>
      <td>21/05/2021</td>
      <td>juanfranciscoamieva@gmail.com</td>
      <td>https://five.epicollect.net/api/media/mrnm?type=photo&amp;format=entry_original&amp;name=b5df397d-1b05-41e3-9a27-7f7b59006232_1621596185.jpg</td>
      <td>Flexible pavement (Asphalt)</td>
      <td>Longitudinal Crack</td>
      <td>1 - 2 m</td>
      <td>Low</td>
      <td>45.479222</td>
      <td>9.226564</td>
      <td>4</td>
      <td>5036213</td>
      <td>517707</td>
      <td>32T</td>
      <td>9.226564</td>
      <td>45.479222</td>
      <td>010100000009C3802557BD4640E2E6543200742240</td>
    </tr>
    <tr>
      <th>1</th>
      <td>496a9aeb-d402-4144-a765-32e621864314</td>
      <td>2021-05-21T11:21:00.215Z</td>
      <td>2021-05-21T11:21:16.000Z</td>
      <td>496a9aeb-d402-4144-a765-32e621864314</td>
      <td>13:20:10</td>
      <td>21/05/2021</td>
      <td>juanfranciscoamieva@gmail.com</td>
      <td>https://five.epicollect.net/api/media/mrnm?type=photo&amp;format=entry_original&amp;name=496a9aeb-d402-4144-a765-32e621864314_1621596033.jpg</td>
      <td>Flexible pavement (Asphalt)</td>
      <td>Block Crack</td>
      <td>Higher than 2 m</td>
      <td>Low</td>
      <td>45.479343</td>
      <td>9.228346</td>
      <td>11</td>
      <td>5036226</td>
      <td>517846</td>
      <td>32T</td>
      <td>9.228346</td>
      <td>45.479343</td>
      <td>01010000008448861C5BBD4640475854C4E9742240</td>
    </tr>
    <tr>
      <th>2</th>
      <td>cdf8cec3-ff74-4347-8eb1-3f83bdf4737f</td>
      <td>2021-05-21T11:20:04.737Z</td>
      <td>2021-05-21T11:21:14.000Z</td>
      <td>cdf8cec3-ff74-4347-8eb1-3f83bdf4737f</td>
      <td>13:18:57</td>
      <td>21/05/2021</td>
      <td>juanfranciscoamieva@gmail.com</td>
      <td>https://five.epicollect.net/api/media/mrnm?type=photo&amp;format=entry_original&amp;name=cdf8cec3-ff74-4347-8eb1-3f83bdf4737f_1621595970.jpg</td>
      <td>Flexible pavement (Asphalt)</td>
      <td>Longitudinal Crack</td>
      <td>Higher than 2 m</td>
      <td>Low</td>
      <td>45.479398</td>
      <td>9.228632</td>
      <td>4</td>
      <td>5036233</td>
      <td>517868</td>
      <td>32T</td>
      <td>9.228632</td>
      <td>45.479398</td>
      <td>010100000048E2E5E95CBD46405DA3E5400F752240</td>
    </tr>
    <tr>
      <th>3</th>
      <td>b764b256-4520-4161-b44f-61c705152545</td>
      <td>2021-05-21T11:18:51.215Z</td>
      <td>2021-05-21T11:21:12.000Z</td>
      <td>b764b256-4520-4161-b44f-61c705152545</td>
      <td>13:17:32</td>
      <td>21/05/2021</td>
      <td>juanfranciscoamieva@gmail.com</td>
      <td>https://five.epicollect.net/api/media/mrnm?type=photo&amp;format=entry_original&amp;name=b764b256-4520-4161-b44f-61c705152545_1621595901.jpg</td>
      <td>Flexible pavement (Asphalt)</td>
      <td>Pothole</td>
      <td>0 - 0.5 m</td>
      <td>Low</td>
      <td>45.479369</td>
      <td>9.229196</td>
      <td>6</td>
      <td>5036230</td>
      <td>517912</td>
      <td>32T</td>
      <td>9.229196</td>
      <td>45.479369</td>
      <td>0101000000ADDBA0F65BBD46407FBF982D59752240</td>
    </tr>
    <tr>
      <th>4</th>
      <td>042b9133-8de2-49b7-aa30-328a5d4b8fb0</td>
      <td>2021-05-19T18:37:52.830Z</td>
      <td>2021-05-20T16:40:07.000Z</td>
      <td>042b9133-8de2-49b7-aa30-328a5d4b8fb0</td>
      <td>20:36:47</td>
      <td>19/05/2021</td>
      <td>juanfranciscoamieva@gmail.com</td>
      <td>https://five.epicollect.net/api/media/mrnm?type=photo&amp;format=entry_original&amp;name=042b9133-8de2-49b7-aa30-328a5d4b8fb0_1621449443.jpg</td>
      <td>Flexible pavement (Asphalt)</td>
      <td>Longitudinal Crack</td>
      <td>1 - 2 m</td>
      <td>Middle</td>
      <td>45.485600</td>
      <td>9.234329</td>
      <td>10</td>
      <td>5036923</td>
      <td>518312</td>
      <td>32T</td>
      <td>9.234329</td>
      <td>45.485600</td>
      <td>010100000003780B2428BE46403F027FF8F9772240</td>
    </tr>
    <tr>
      <th>5</th>
      <td>24cfe036-a2e6-4d9b-b441-aee110ab18ec</td>
      <td>2021-05-19T18:36:40.635Z</td>
      <td>2021-05-20T16:40:05.000Z</td>
      <td>24cfe036-a2e6-4d9b-b441-aee110ab18ec</td>
      <td>20:35:30</td>
      <td>19/05/2021</td>
      <td>juanfranciscoamieva@gmail.com</td>
      <td>https://five.epicollect.net/api/media/mrnm?type=photo&amp;format=entry_original&amp;name=24cfe036-a2e6-4d9b-b441-aee110ab18ec_1621449375.jpg</td>
      <td>Flexible pavement (Asphalt)</td>
      <td>Pothole</td>
      <td>0.5 - 1 m</td>
      <td>Low</td>
      <td>45.485166</td>
      <td>9.234806</td>
      <td>8</td>
      <td>5036875</td>
      <td>518349</td>
      <td>32T</td>
      <td>9.234806</td>
      <td>45.485166</td>
      <td>0101000000C99063EB19BE464025CFF57D38782240</td>
    </tr>
    <tr>
      <th>6</th>
      <td>fc2ffb50-1c74-4db4-bb62-1453b9c0c57b</td>
      <td>2021-05-11T16:06:48.671Z</td>
      <td>2021-05-11T16:07:00.000Z</td>
      <td>fc2ffb50-1c74-4db4-bb62-1453b9c0c57b</td>
      <td>18:05:00</td>
      <td>11/05/2021</td>
      <td>juanfranciscoamieva@gmail.com</td>
      <td>https://five.epicollect.net/api/media/mrnm?type=photo&amp;format=entry_original&amp;name=fc2ffb50-1c74-4db4-bb62-1453b9c0c57b_1620749191.jpg</td>
      <td>Flexible pavement (Asphalt)</td>
      <td>Block Crack</td>
      <td>0 - 0.5 m</td>
      <td>Low</td>
      <td>45.484381</td>
      <td>9.235344</td>
      <td>4</td>
      <td>5036788</td>
      <td>518391</td>
      <td>32T</td>
      <td>9.235344</td>
      <td>45.484381</td>
      <td>0101000000E2E6543200BE4640A19E3E027F782240</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6d8eaa6f-1e8c-46ab-a4db-209cc2177d88</td>
      <td>2021-05-11T16:04:06.340Z</td>
      <td>2021-05-11T16:04:24.000Z</td>
      <td>6d8eaa6f-1e8c-46ab-a4db-209cc2177d88</td>
      <td>18:02:57</td>
      <td>11/05/2021</td>
      <td>juanfranciscoamieva@gmail.com</td>
      <td>https://five.epicollect.net/api/media/mrnm?type=photo&amp;format=entry_original&amp;name=6d8eaa6f-1e8c-46ab-a4db-209cc2177d88_1620749017.jpg</td>
      <td>Flexible pavement (Asphalt)</td>
      <td>Pothole</td>
      <td>0.5 - 1 m</td>
      <td>Middle</td>
      <td>45.482904</td>
      <td>9.234332</td>
      <td>6</td>
      <td>5036623</td>
      <td>518313</td>
      <td>32T</td>
      <td>9.234332</td>
      <td>45.482904</td>
      <td>0101000000C58D5BCCCFBD464003D0285DFA772240</td>
    </tr>
    <tr>
      <th>8</th>
      <td>53bb650d-de38-49d9-b316-41f274b47a25</td>
      <td>2021-05-11T16:02:37.466Z</td>
      <td>2021-05-11T16:04:22.000Z</td>
      <td>53bb650d-de38-49d9-b316-41f274b47a25</td>
      <td>18:01:12</td>
      <td>11/05/2021</td>
      <td>juanfranciscoamieva@gmail.com</td>
      <td>https://five.epicollect.net/api/media/mrnm?type=photo&amp;format=entry_original&amp;name=53bb650d-de38-49d9-b316-41f274b47a25_1620748909.jpg</td>
      <td>Flexible pavement (Asphalt)</td>
      <td>Longitudinal Crack</td>
      <td>Higher than 2 m</td>
      <td>Middle</td>
      <td>45.482314</td>
      <td>9.234447</td>
      <td>16</td>
      <td>5036558</td>
      <td>518322</td>
      <td>32T</td>
      <td>9.234447</td>
      <td>45.482314</td>
      <td>010100000094331477BCBD4640664AEB6F09782240</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1e052da4-6a1c-4abb-a042-30b90b0f6fb8</td>
      <td>2021-05-11T16:01:03.911Z</td>
      <td>2021-05-11T16:04:20.000Z</td>
      <td>1e052da4-6a1c-4abb-a042-30b90b0f6fb8</td>
      <td>17:59:44</td>
      <td>11/05/2021</td>
      <td>juanfranciscoamieva@gmail.com</td>
      <td>https://five.epicollect.net/api/media/mrnm?type=photo&amp;format=entry_original&amp;name=1e052da4-6a1c-4abb-a042-30b90b0f6fb8_1620748832.jpg</td>
      <td>Flexible pavement (Asphalt)</td>
      <td>Longitudinal Crack</td>
      <td>1 - 2 m</td>
      <td>Low</td>
      <td>45.481600</td>
      <td>9.234050</td>
      <td>7</td>
      <td>5036478</td>
      <td>518291</td>
      <td>32T</td>
      <td>9.234050</td>
      <td>45.481600</td>
      <td>010100000076E09C11A5BD4640F241CF66D5772240</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4f790cb0-65a9-4462-82cf-4479d9e5f260</td>
      <td>2021-05-11T15:59:09.379Z</td>
      <td>2021-05-11T16:04:18.000Z</td>
      <td>4f790cb0-65a9-4462-82cf-4479d9e5f260</td>
      <td>17:57:50</td>
      <td>11/05/2021</td>
      <td>juanfranciscoamieva@gmail.com</td>
      <td>https://five.epicollect.net/api/media/mrnm?type=photo&amp;format=entry_original&amp;name=4f790cb0-65a9-4462-82cf-4479d9e5f260_1620748718.jpg</td>
      <td>Flexible pavement (Asphalt)</td>
      <td>Longitudinal Crack</td>
      <td>0 - 0.5 m</td>
      <td>Low</td>
      <td>45.480980</td>
      <td>9.234130</td>
      <td>4</td>
      <td>5036410</td>
      <td>518297</td>
      <td>32T</td>
      <td>9.234130</td>
      <td>45.480980</td>
      <td>0101000000DA03ADC090BD464064062AE3DF772240</td>
    </tr>
  </tbody>
</table>